* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
.col-md-3 {
    padding: 10px;
}
