footer {
    #footer-top{
        background-image: url('/img/footer-bg.jpg');
        &:after {
            display: table;
            content: '' ;
            clear: both;
        }
        .footer-list{
            float: left;
            ul {

                li {
                    display: list-item;
                    a {
                        font-size: 0.8em;
                    }



                }
            }
        }
        #copyright {
            display: block;
        }
    }
    #footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #footer-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @each $icon in $footer_socials {
        li.#{$icon} {
            background-image: url('/img/footer-#{$icon}.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        }
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
        }
    }
}
